html{
    scroll-behavior: smooth;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
    color: white;
}

.name{
    text-align: center;
    background: linear-gradient(to right,red 30%,yellow 50%,green 70%);
    background-clip: text;
    color: transparent;
}
.video{
    width: 100%;
}

.intro{
    text-align: center;
    margin-top: 10px;
}

.navilist1{
    display: inline;
}
nav {
    height: 40px;
    width: 550px;
    margin: 10px auto;
}
.listitems{
    text-decoration: none;
    padding: 0px 10px;
    margin: 10px 5px;
    color: white;
}
section{
    background-color: rgb(0, 0, 59);
    border: 3px solid blue;
    margin: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 5px 10px 20px greenyellow; 
    transition: all 0.2s ease-in-out; 
}
section:hover{
    transform: scale(1.02);
}

.sectiontitle{
    background: linear-gradient(to right,green 0%,yellow 5%,red 10%);
    background-clip: text;
    color: transparent;
    margin-bottom: 10px;
    font-size: 25px;
}
.github{
    color: black;
    background-color: aliceblue;
    font-size: small;
    text-decoration: none;
    padding: 2px;
    border-radius: 5px;
}
.skill{
    margin-bottom: 8px;
}
.subskill{
    font-size: large;
    color: rgb(227, 227, 15);
}

.project{
    display: inline;
}
.pro{
    text-decoration: none;
    color:rgb(0, 255, 242);
    margin-right: 50px;
    font-size: large;
    margin-top: 10px;
}
.top{
    color: white;
    text-decoration: none;
}